Package: ws.hbang.aptdate
Name: Aptdate
Pre-Depends: firmware (>= 5.0)
Depends: mobilesubstrate, coreutils, aptitude, preferenceloader
Version: 1.1.1
Architecture: iphoneos-arm
Description: Get notifications when updates are available in Cydia!
Maintainer: thekirbylover
Author: thekirbylover
Section: Tweaks
